<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richert.tagtracker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />
	
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
      			android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" 
      			android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="com.richert.tagtracker.LogcatActivity"
            android:label="@string/title_activity_logcat">
        </activity>
        <activity
            android:name=".recognizer.RecognizeActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_recognize"
            android:theme="@style/android:Theme.Material" >
        </activity>
        <activity
            android:name=".markergen.MarkerGeneratorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_marker_generator"
            android:theme="@style/android:Theme.Material" >
        </activity>
        <activity
            android:name=".driver.DriverActivity"
            android:label="@string/title_activity_driver">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/android:Theme.Material" >
        </activity>
        <activity
            android:name=".LicencesActivity"
            android:label="@string/title_activity_licences"
            android:theme="@style/android:Theme.Material" >
        </activity>
        <activity
            android:name=".OtherCodesActivity"
            android:label="@string/title_activity_driver">
        </activity>
        
    </application>

</manifest>
